*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav .nav-link:active , .navbar-nav .nav-link:hover ,.active{
    border-bottom: 3px solid black;
    
}
.hero{
    height: 500px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMGS/Background_hero.jfif);
    background-size: cover;
    background-position: center;
}
.steve{
    width: 400px;
    height: 400px;
}
.hero:hover .steve{
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}